:root {
    --gradient: linear-gradient(to left, #080680, #0381bb, #0c51aa);
  }

  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    font-family: sans-serif;
    color: #222;
    background: beige;
    background-image: var(--gradient);
    background-size: 400%;
    animation: fondo-anim 50s infinite alternate;
  }

  @keyframes fondo-anim {
    0% {
      background-position: left;
    }
    /*por defecto*/
    100% {
      background-position: right;
    }
  }

  #boxCentral {
    /* align-items: center; */
    border: 3px solid rgb(0, 0, 0);
    border-top: 0;
    background-color: white;
    height: 200px;
    width: 20%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo {
    text-align: center;
    background: rgb(43, 33, 218);
    background: linear-gradient(
      90deg,
      rgba(43, 33, 218, 1) 0%,
      rgba(22, 102, 203, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    width: 20%;
    padding: 0%;
    border: 2px solid black;
  }

  #boxGeneral {
    margin-top: 10%;
  }

  #inicioSesion {
    width: 100px;
    height: 20px;
    margin-top: 10%;
    margin-bottom: 5%;
  }