#MadeBy{
    margin-left:0;
    border: 2px solid white;
    border-top-right-radius: 20em;
    border-bottom-right-radius: 20em ;
    width: 10%;
    padding-right: 0;
    background-color: rgb(243, 242, 242);
    color: black;
}

#MadeBy p{
    margin-left: 8%;
}

#BoxCentral{
    border: 3px solid gray;
    margin: auto;
    width: 35%;
    background-color: rgb(93, 231, 81);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#BoxCentral div{
    margin: auto;
}

#Info{
    margin: auto;
    border: 2px solid rgb(117, 117, 117);
    background-color: aliceblue;
    width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Info p{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    /* margin-left: 5%; */
}

body{
    background-color: rgb(94, 156, 120);
}

