

body{
    background-color: #181a1b;
}

.green{
    background-color: green;
    color: white;
}

.blue{
    background-color: blue;
    color: white;
}

.red{
    background-color: red;
    color: white;
}

.yellow{
    background-color: yellow;
    color: black;
}

.black{
    color: white;
    background-color: black;
}

#principalCard{
    margin-top: 5%;
}

#table{

    display: flex;
    flex-direction: row;

    width: 100vw;
}

#table div{
    margin: 5%;
    margin-top: 1%;
}

#playerTable{
    display: flex;
    flex-direction: column;
    margin-left: 5%;

    text-align: center;
}

#principalCardDiv{
    
    padding: 5%;
    padding-left: 3%;

}

.card{
    text-align: center;
    width: 5em;
    height: 6em;
}