*{
    margin: 0;
    box-sizing: border-box;
    
}

#boxGeneral{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin-top: 0;
    padding-top: 0;
    top: 0;
}



#navMenu{

    margin-top: 0%;
    padding: 1%;
    background-color: #8b60c9;
    align-self: stretch;
    border-radius:0.2em 0.2em 2.5em 2.5em ;
    height: 4em;

    position: sticky;
    top: 0;

}

#navMenu button{
    margin-top: 0.2em;
    margin-right: 2em;
    position: sticky;
    float: right;
    background-color: #955EE6;
    color:#F0F0F0;
}

#navMenu img{
    
    margin-left: 2%;
    width: 2.5em;

}

#personal{
    margin-top: 5em;
    text-align: center;
    height: 70vh;
}

#personal p{
    margin-top: 1em;
}

#personal img{
    margin-top: 1em;
    border-radius: 50%;
    width: 13em;
    background-color: #8b60c9;
}

#aboutMe{

    padding-top: 5%;
    background-color: #683ea1;
    text-align: center;
    width: 99vw;
    color: white;
}
